.headerRoot {
  display: flex;
  height: 200px;
}

.headerRoot .header-left {
  width: 30%;
}

.headerRoot .header-right {
  width: 70%;
}

.headerComponent {
  width: 80px;
  height: 50px;
}

.headerImg {
  max-width: 60px;
  max-height: 60px;
}

.headeText {
  font-size: 14px;
  font-family: "Meiryo UI";
}
