.root{

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-top: 1em;

}

.rootLeft{
    grid-area: 1 / 1 / 2 / 6; 
    width:100%;
}
.rootCenter{
    grid-area: 1 / 6 / 2 / 9;
    width:100%;
    margin-left: 0.2em;
}
.rootRight{
    grid-area: 1 / 9 / 2 / 11;
    width:100%;

}
